body {
    background-color: #0D203E;
    color: #E4E8D5;
    font-family: "Anton", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #D5DDE8;
    font-family: "Anton", serif;
}